/*****HEADER*****/
.main-logo{
	position: relative;
	text-align: center;
	margin-left: 50px;
}

.head-text{
	position: absolute;
	top: 70px;
	font-size: 90%;
}

.subhead-text{
	position: absolute;
	top: 85px;
	font-size: 50%;
	margin-left: 19px;
}

#collapsable-nav{
	float: right;
}

button{
	float: right;
}

li a {
	color: #46AA9E;
	font-size: 120%;
}

li a:hover{
	opacity: .9;
}

 button.navbar-toggle, .icon-bar {

  border: 1px solid #61122f;
  }

#collapsable-nav .glyphicon{
	font-size: 150%;
}
/********* SMALL DEVICES ********/
@media (max-width: 767px){



	.button-tile{
		margin-top: 50px;
	}

	#collapsable-nav{
	width: 100%;
	}

	.glyphicon{
		vertical-align: middle;
	}

	.tile-text {
		vertical-align: middle;
	}
}
/********* EXTRA SMALL DEVICES ********/
@media (max-width: 831px){
	h1{
		font-size: 4vw;
	}
}

/********* MEDIUM DEVICES ********/
@media (max-width: 573px){
	h1{
		font-size: 5.5vw;
	}
}


/*****BODY*****/
.container-fluid{
	padding: 3%;
}

.row div p{
	background-color: #95B9C7;
	margin: 5px;
	padding: 15px;
}



/*****FOOTER*****/

.logo-tiles{
	text-align: center;
	font-size: 250%;
	margin-bottom: 3%;
	margin-top: 3%;
}

	.logo-tiles a{
	margin: 4%;
	color: #46AA9E;
	}

	.logo-tiles a:hover ,.logo-tiles a:active{
	text-decoration: none;
	opacity: .8;
	}
