/*****HEADER*****/
h1{
	float: left;

}

header{
	border-bottom: 2px solid cyan;
}

.logo{
	float: left;
	width: 16%;
	height: 18%;
}

#collapsable-nav{
	float: right;
}

button{
	float: right;
}

li a {
	color: #1A5276;
	font-size: 120%;
}

li a:hover{
	opacity: .9;
	box-shadow: 0 1px 5px 1px grey;
}

 button.navbar-toggle, .icon-bar {

  border: 1px solid #61122f;
  }

.glyphicon{
	font-size: 150%;
}

@media (max-width: 767px){
	.button-tile{
		margin-top: 30px;
	}

	#collapsable-nav{
	width: 100%;
}

}



/*****BODY*****/
.container-fluid{
	padding: 3%;
}

.row div p{
	background-color: #95B9C7;
	margin: 5px;
	padding: 15px;
}



/*****FOOTER*****/
