/*****HEADER*****/
h1{
	float: left;
		margin-top: 7%;

}

.logo{
	float: left;
	width: 16%;
	height: 18%;
	margin-top: 6%;
	margin-left: 4%;
}

#collapsable-nav{
	margin-top: 1%;
	margin-right: 5%;
}

li a {
	color: #1A5276;
	font-size: 120%;
}

li a:hover{
	opacity: .9;
	box-shadow: 0 1px 5px 1px grey;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
  }

.glyphicon{
	font-size: 150%;
}

/*****BODY*****/
.container-fluid{
	padding: 3%;
}

.row div p{
	background-color: #95B9C7;
	margin: 5px;
	padding: 15px;
}



/*****FOOTER*****/
